<nav class="navbar bg-dark">
    <h2><a [routerLink]="['/']">YIF</a></h2>
    <ul *ngIf="auth.isAuthenticated() else loginOrRegister">
        <li routerLinkActive="active">
            <a [routerLink]="['/client', 'profile']">Профайл</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/client', 'update']">Оновоти профайл</a>
        </li>
        <li routerLinkActive="active">
            <a href="#" (click)="logout($event)">Вийти</a>
        </li>
    </ul>

    <ng-template #loginOrRegister>
        <ul>
            <li routerLinkActive="active">
                <a [routerLink]="['/client', 'login']">Залогінитися</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/client', 'register']">Зареєструватися</a>
            </li>
        </ul>
    </ng-template> 
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>